{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block main %}
    <h1>Create new Movie</h1>

    {{ form(form) }}

    <a href="{{ path('browse_movie') }}">back to list</a>
{% endblock %}