{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block main %}
    <h1>Edit Movie</h1>

    <div class="container">
        <div class="row">
            {{ form(form) }}

            <a href="{{ path('browse_movie') }}">back to list</a>
            <a href="{{ path('delete_movie', {id:movie.id}) }}">delete movie</a>        
        </div>
    </div>
{% endblock %}